{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
    <!--Logo-->
    <center><img src="/static/luminous_logo.png" class="logo"></center>
    
    <!--Go back to welcome page-->
    <strong><a href="/" class="back" style="margin-top:60px">← Back</a></strong>
    
    <!--Instructions-->
    <div id="login-title">
        <!--<strong><p id="register_welcome">Thank you for joining Luminous.</p></strong>-->
        <strong><h2>Please fill in the form below to continue.</h2></strong>
    </div>
    
    <!--Login form-->
    <div id="center">
        <form action="/login" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <button class="open" type="submit">Log In</button>
        </form>
    </div>
    
    <!--Flash messages, if any-->
    <div id="center">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div id="register-message">
                        <p>{{ msg }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}